/* Resetting margins for entire document and deleting cursor */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

/* Optimization for mobile  */
@media screen and (max-width: 600px) {
  .mainSection {
  width: auto;
  }

  .card {
    width: 95vw;
  }

  .cardBackDescription {
    padding: 25px;
  }

  .linkbox {
    padding-left:50px;
    padding-right:50px;
  }

  .navbar {
    display:none;
  }

  .bullet {
    display: none;
  }

}

/* Optimization for Tablet&Desktop */
@media screen and (min-width: 601px) {
  .mainSection {
  width:600px;
  margin: auto;
  }

  .card {
    width: 580px;
  }

  .navbar {
    display: flex
  }

  .cardBackDescription {
    padding: 50px;
  }

  .linkbox {
    padding-left:150px;
    padding-right:150px;
  }

  #myNav {
    display: none;
  }

  .myNav-2 {
    display: none;
  }
}

/* GENERAL FORMATTING */

/* Design by tags */
body {
  font-family: futura, "segoe ui", sans-serif;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: white;
}

h2:hover {
  color: blue;
}

h3 {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

h4 {
  font-size: 1.1rem;
  text-align: left;
}


img {
  position: relative;
  margin-top: 10px;
  min-height: 400px;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* by classes */



.mainSection {
  padding: 10px;
  text-align: center;
}

.backParagraph {
  text-align: justify;
}

.bullet {
  position: relative;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  background-color: grey;
  display: block;
  text-align: center;
  border-radius: 10px;
}


/* SPECIAL ITEMS: BUTTONS, CURSOR, NAVBAR, CARDS*/

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 20vh;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.navbar li {
  padding: 1rem;
  font-size: 1.3rem;
}

.navbar {
  justify-content: space-between;
  list-style: none;
}

.navbar, h1 {
  flex: 1;
  z-index: 1
}


/* Code for mobile Navbar */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: blue;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* BUTTON */
.button {
  position: relative;
  align-items: center;
  margin: 10px;
  height: auto;
  width: auto;
  border: 3px solid blue;
}

.buttonLink {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* CURSOR */
.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  left: -90px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 1;
  backdrop-filter: grayscale();
}

.link-grow-fill {
  transform: scale(1.5);
  background: blue;
}

.link-grow {
  transform: scale(1.5);
}

.hovered-link {
  color: white;
}

.hovered-caption {
  color: white;
}

.hovered-description {
  text-decoration: none;
}




/* CARD */

.card {
  margin: 10px auto 0;
  /* width: 580px; */
  height: 350px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  z-index: -2;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardFaceFront {
  display: flex;
  justify-content: center;
}

.cardFrontDescription {
  position: relative;
  text-align: center;
  margin: auto;
  z-index: 0;
}

.cardFrontImage {
  width: auto;
  min-width: 580px;
  position: absolute;
  bottom: 0;
  height: 100%;
  filter: brightness(0.5);
}

.cardFaceBack {
  transform: rotateY(180deg);
  background-color: #f9f9f9;
  display: block;
}

.cardBackDescription {
  font-stretch: condensed;
  color: black;
  margin: auto;
  vertical-align: center;
  font-size: 0.9rem;
  text-align: justify;
  z-index: 10;
}

.cardCaption {
  position: relative;
  z-index: 9;
}
