* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .mainSection {
    width: 95%;
  }
}

body {
  font-family: futura, "segoe ui", sans-serif;
  cursor: none;
}

h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

h4 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.navbar li {
  padding: 1rem;

}

/* by classes */
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar, h1 {
  flex: 1;
}

.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  left: -90px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grayscale();
}

.segmentHeader {
  text-align: center;
}

.link-grow {
  transform: scale(1.5);
  background: black;
}

.hovered-link {
  color: white;
}

.hovered-caption {
  text-decoration: underline;
}

.hovered-description {
  text-decoration: none;
}

.description {
  padding: 10px;
  color: white;
  vertical-align: middle;
  font-size: 1rem;
}

.description2 {
  padding: 10px;
  color: white;
  vertical-align: top;
  font-size: 1rem;
}

.mainSection {
  min-width: 450px;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  text-align: center;
}


/* .headersection {
  background-color: white;
  margin-bottom: 0;
} */

.sectionheader {
  position: absolute;
  text-align: center;
  bottom: 20%;
  left: 10%;
  right: 10%;
  top: 30%;
  margin: auto;
}

.subsectionheader {
  position: absolute;
  text-align: center;
  bottom: 20%;
  left: 10%;
  right: 10%;
  top: 20%;
  margin: auto;
}

.images {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 100%;
  filter: brightness(0.5);
}

.container {
  position: relative;
}

.images:hover {
  filter: blur(4px);
}

/* .headertext {
  padding: 30px;
  text-align: center;
  color: #222831;
} */

.footer {
  margin-top: 20px;
  height: 50px;
  background-color: grey;
  display: block;
  text-align: center;
  z-index: -4;
}

.textbox {
  max-width: 600px;
}

img {
  position: relative;
  z-index: -3;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
